
body {
    font-family: 'Montserrat', sans-serif;
    color:#8B8B8B;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 21px;
    background-color: #FAFAFA;
}

h1 {
    font-weight: 500;
    font-size: 28px;
    color: black; 
}

h2 {
    font-weight: 500;
    font-size: 16px; 
    color: black;
    margin-top: 60px;
}

h3 {
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    line-height: 17px;
}

hr {
   width: 60px;
   color: #407BFF; 
   background-color: #407BFF;
   height: 2px;
   margin-bottom: 30px;
}

.obrazek img {
    padding: 60px 75px;
   }

.button {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.prvni {
    background-color: #407BFF;
}

.druhy {
    background-color: #8B8B8B;
}

.polozka {
    display: flex;
    margin: 20px;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
}

.ikona {
    padding: 20px;
    height: 40px;

}
 .odstavec {
     margin: 0 20px 30px 20px;
     line-height: 21px;
 }


 @media only screen and (min-width: 640px){

    .button {
        display: inline-block;
        margin: 30px 10px;
    }
    
    .sluzby,
    .delegati {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        
    }

    .polozka {
        display: inline-block;
        padding: 15px;
        margin: 40px 10px 20px 10px;
       
    }
   
    .odstavec {
        max-width: 550px;
       margin: auto;  
    }

    h3 {
      text-align: center;  
    }

    .obrazek img {
        width: 400px;
        padding-bottom:12px ;
    }

 }


 @media only screen and (min-width: 1100px){
    .body {
        max-width:1040px;
        margin: auto;
    }
    hr {
        margin-left: 0;
    }
   
    .uvod {
        display: flex;
        align-items: center;
    }

    .obrazek {
        order: 1;
    }

    .main {
        text-align: left;
    }

 }